# IT market analysis

In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
import csv

In [4]:
import pandas as pd

In [5]:
import time

In [6]:
def extract_job_data(soup, mode):
    """Funckja wyciągająca wszystkie interesujące nas dane 
        z ofert pracy wyświetlonych na indeed"""
    
    jobs_data= []    # Lista wszystkich ofert
    
    # Pętla po ofertach na aktualnie analizowanej stronie
    for div in soup.find_all(name= "div", attrs={"class":"row"}):
        
        job = []    # Lista z danymi konkretnej oferty
        
        # Wyciągamy nazwę pracy
        job_title = div.find_all(name="a", attrs={"data-tn-element":"jobTitle"})
        if len(job_title) > 0:
            titles = ""
            for a in job_title:
                if titles != "":
                    titles += " | "
                titles += a["title"]
            job.append(titles)
        else:
            job.append("Nothing found")
            
        
        # Wyciągamy nazwę firmy
        company = div.find_all(name="span", attrs={"class":"company"})
        companies = ""
        if len(company) > 0:
            for b in company:
                if companies != "":
                    companies += " | " 
                companies += b.text.strip()
            job.append(companies)
        else:
            sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
            if len(sec_try) == 0:
                job.append("Nothing found")
            else:
                for span in sec_try:
                    if companies != "":
                        companies += " | " 
                    companies += span.text.strip()
                job.append(companies)
        
        
        # Wyciągamylokazlizację firmy, ocenę firmy i ilość oddanych głosów
        locationDiv = div.find("div", attrs={"class":"sjcl"})
        spans = locationDiv.find_all("span", attrs={"class": "location"})
        
        if len(spans) == 0:
            job.append("Nothing found")
        else:
            locations = ""
            for span in spans:
                if locations != "":
                    locations += " | "
                locations += span.text.strip()
            job.append(locations)
            
        rating = locationDiv.find("span", attrs={"class": "rating"})
        views = locationDiv.find("span", attrs={"class": "slNoUnderline"})

        if rating:
            rating = format(float(rating["style"].replace("width:", "").replace("px","")) / 60 * 5, '.2f')
        else:
            rating = "Nothing found"

        if views:
            var = views.text.replace(",", "").replace("\xa0", "")
            views = int(var.split(" ")[0].strip())
        else:
            views = "Nothing found"
            
        job.append(rating)
        job.append(views)
        
        # Wyciągamy dane o zarobkach
        salaryDiv = div.find("div", attrs={"class":"salarySnippet"})
        try:
            job.append(salaryDiv.find("span", attrs={"class":"salary no-wrap"}).text.replace('\n','').strip())
        except:
            try:
                div_two = salaryDiv.find(name="span", attrs={"class":"salary-est-similar no-wrap"})
                job.append(div_two.text.replace('\n','').strip())
            except:
                job.append("Nothing found")
                
                
        # Wyciągamy opis stanowiska
        try:
            job.append(div.find("div", attrs={"class":"summary"}).text.replace('\n','').strip())
        except:
            job.append("Nothing found")
            
        
        # Sprawdzamy kiedy oferta została dodana
        dateDiv = div.find("div", attrs={"class":"jobsearch-SerpJobCard-footerActions"})       
        try:
            job.append(dateDiv.find("span", attrs={"class": "date"}).text)
        except:
            job.append("Nothing found") 
    
    
        # Wyciągamy link do strony z ofertą pracy
        if mode == 'pl':
            newPageDiv = "https://pl.indeed.com" + div.find("div", attrs={"class":"title"}).a["href"] + "rom=vj&pos=bottom"
        elif mode == 'usa':
            newPageDiv = "https://indeed.com" + div.find("div", attrs={"class":"title"}).a["href"] + "rom=vj&pos=bottom"
        else:
            raise Exception("Wrong mode argument") 
        
        if newPageDiv == "https://pl.indeed.comrom=vj&pos=bottom" or newPageDiv == "https://indeed.comrom=vj&pos=bottom":
            newPageDiv = "Nothing found"
            
        job.append(newPageDiv)
        
        # Dodajemy ofertę do listy ofert
        jobs_data.append(job)
        
    return jobs_data

In [7]:
def prepareSalary(salary, mode):
    """Funkcja pomagająca zapisać informacje 
    o wyszukiwanych przez nas zarobkach w linku"""
     
    if salary == None:
        return ""
    elif mode == "pl":
        var = ""
    elif mode == "usa":
        var = "%24"
    else:
        raise Exception("Wrong mode argument") 
        
    if len(str(salary)) <= 3:
        strSalary = var + "%2C" + "0"*(3 - len(str(salary))) + str(salary)
    else:
        strSalary = var + str(salary)[:-3] + "%2C" + str(salary)[-3:]
        
    return strSalary

In [8]:
usa_city_set = ['New York','Chicago','San Francisco', 'Austin', 'Seattle',
            'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh',
            'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'Washington DC', 'Boulder']

pl_city_set = ['Wrocław, dolnośląskie', 'Warszawa, mazowieckie', 'Kraków, małopolskie', 'Poznań, wielkopolskie',
              'Łódź, łódzkie', 'Szczecin, zachodniopomorskie', 'Gdańsk, pomorskie', 'Katowice, śląskie',
               'Rzeszów, podkarpackie', 'Bydgoszcz, kujawsko-pomorskie', 'Toruń, kujawsko-pomorskie', 
               'Legnica, dolnośląskie', 'Opole, opolskie']

columns = ["City", "Job Title", "Company Name", "Location", "Rating", "Views", "Salary", "Summary", "Date", "Link"]

In [9]:
def make_clickable(url):
    """Funkcja pozwalająca na wyświetlenie obiektu dataframe 
        z linkiem do strony z ofertą"""
    
    return '<a target="_blank" href="{}">{}</a>'.format(url, "Link")

In [10]:
def scrappingFunction(job, cities, columnsNames, maxResults, mode, fileName, salary = None,):
    """Funkcja przeszukująca strony według kryteriów podnaych w argumentach. 
        Zwaraca obiekt dataframe ze wszystkimi danymi."""
    if mode == 'pl':
        url = 'http://pl.indeed.com/praca?q=' + job.replace(' ', '+') + '+' + prepareSalary(salary, mode) + '&l='
    elif mode == 'usa':
        url = 'http://indeed.com/praca?q=' + job.replace(' ', '+') + '+' + prepareSalary(salary, mode) + '&l='
    else:
        raise Exception("Wrong mode argument") 
    sample_df = pd.DataFrame(columns = columnsNames)


    for city in cities:
        for start in range(0, maxResults, 10):
            num = (len(sample_df) + 1) 
            page = requests.get(url + city.replace(',', '%2C').replace(' ', '+') + '&start=' + str(start))
            time.sleep(1)  #ensuring at least 1 second between page grabs
            soup = BeautifulSoup(page.text, 'lxml')

            jobs_data = extract_job_data(soup, mode)
            
            for i in range(len(jobs_data)):
                sample_df.loc[num + i] = [city] +  jobs_data[i]
                
    sample_df = sample_df.drop_duplicates()
    #saving sample_df as a local csv file — define your own local path to save contents 
    sample_df.to_csv( fileName+ '.csv', encoding='utf-8')
    return sample_df

In [11]:
usa_data_scientist = scrappingFunction('data scientist', usa_city_set, columns, 100, 'usa', 'usa_data_scientist')
usa_data_scientist_10 = scrappingFunction('data scientist', usa_city_set, columns, 100, 'usa', 'usa_data_scientist_10', 10000)
usa_data_scientist_20 = scrappingFunction('data scientist', usa_city_set, columns, 100, 'usa', 'usa_data_scientist_20', 20000)

In [12]:
pl_data_scientist = scrappingFunction('data scientist', pl_city_set, columns, 100, 'pl', 'pl_data_scientist')
pl_data_scientist_10 = scrappingFunction('data scientist', pl_city_set, columns, 100, 'pl', 'pl_data_scientist_10', 10000)
pl_data_scientist_20 = scrappingFunction('data scientist', pl_city_set, columns, 100, 'pl', 'pl_data_scientist_20', 20000)

In [13]:
usa_python = scrappingFunction('python', usa_city_set, columns, 100, 'usa', 'usa_python' )
usa_python_10 = scrappingFunction('python', usa_city_set, columns, 100, 'usa', 'usa_python_10', 10000)
usa_python_20 = scrappingFunction('python', usa_city_set, columns, 100, 'usa', 'usa_python_20', 20000)

In [14]:
pl_python = scrappingFunction('python', pl_city_set, columns, 100, 'pl', 'pl_python')
pl_python_10 = scrappingFunction('python', pl_city_set, columns, 100, 'pl', 'pl_python_10', 10000)
pl_python_20 = scrappingFunction('python', pl_city_set, columns, 100, 'pl', 'pl_python_20', 20000)

In [15]:
usa_python_intern = scrappingFunction('python intern', usa_city_set, columns, 100, 'usa', 'usa_python_intern')
pl_python_intern = scrappingFunction('python staż', pl_city_set, columns, 100, 'pl', 'pl_python_intern')

## Data Science w USA

### Bez podania oczekiwanych zarobków

In [20]:
usa_data_scientist[usa_data_scientist["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 10 tysięcy dolarów oczekiwanych zarobków

In [21]:
usa_data_scientist_10[usa_data_scientist_10["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 20 tysięcy dolarów oczekiwanych zarobków

In [22]:
usa_data_scientist_20[usa_data_scientist_20["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

## Data Science w Polsce

### Bez podania oczekiwanych zarobków

In [23]:
pl_data_scientist[pl_data_scientist["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 10 tysięcy złotych oczekiwanych zarobków

In [48]:
pl_data_scientist_10[(pl_data_scientist_10["Views"] != "Nothing found") & (pl_data_scientist_10["Job Title"] != "Pracownik restauracji McDonalds")].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 20 tysięcy złotych oczekiwanych zarobków

In [49]:
pl_data_scientist_20[(pl_data_scientist_20["Views"] != "Nothing found") & (pl_data_scientist_20["Job Title"] != "Pracownik restauracji McDonalds")].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

## Programista Python w USA

### Bez podania oczekiwanych zarobków

In [26]:
usa_python[usa_python["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 10 tysięcy dolarów oczekiwanych zarobków

In [27]:
usa_python_10[usa_python_10["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 20 tysięcy dolarów oczekiwanych zarobków

In [28]:
usa_python_20[usa_python_20["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

## Programista Python w Polsce

### Bez podania oczekiwanych zarobków

In [29]:
pl_python[pl_python["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 10 tysięcy złotych oczekiwanych zarobków

In [44]:
pl_python_10[(pl_python_10["Views"] != "Nothing found") & (pl_python_10["Job Title"] != "Pracownik restauracji McDonalds")].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### 20 tysięcy złotych oczekiwanych zarobków

In [47]:
pl_python_20[(pl_python_20["Views"] != "Nothing found") & (pl_python_20["Job Title"] != "Pracownik restauracji McDonalds")].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

## Stażysta Python

### USA

In [31]:
usa_python_intern[usa_python_intern["Views"] != "Nothing found"].sort_values(by = "Views", ascending = False).head().style.format({'Link': make_clickable})

### Polska

In [34]:
pl_python_intern.head().style.format({'Link': make_clickable})